[submodule "joeh22/cmap"]
	path = joeh22/cmap
	url = https://github.com/tsipkens/cmap
	branch = master
[submodule "joeh22/autils"]
	path = joeh22/autils
	url = https://github.com/tsipkens/autils
	branch = main
